In [2]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (from beautifulsoup4) (2.0.1)

In [3]:
!pip install requests

Requirement already satisfied: requests in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (from requests) (2.10)

In [4]:
CC

Requirement already satisfied: pandas in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (1.0.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [6]:
!pip install Wikipedia-API

Collecting Wikipedia-API
  Downloading Wikipedia-API-0.5.4.tar.gz (18 kB)
Requirement already satisfied: requests in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (from Wikipedia-API) (2.24.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (from requests->Wikipedia-API) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (from requests->Wikipedia-API) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (from requests->Wikipedia-API) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\arc sogo\anaconda3\new folder\lib\site-packages (from requests->Wikipedia-API) (1.25.11)
Building wheels for collected packages: Wikipedia-API
  Building wheel for Wikipedia-API (setup.py): started
  Building wheel for Wikipedia-API (setup.py): finished with status 'done'
  Created wheel for Wikipedia-API: filename=Wikipedia_API-0.5.4-py3-none-any.whl size=13467 sha256=5392f66438d5b8c3ed8e2bad56faa96cf6e037bb3e21460af2620884104f4c14
  Stored in directory: c:\users\arc sogo\appdata\local\pip\cache\wheels\ed\88\e3\da3d4d73cb91d659488cfa25913b84bbc26febec99d257bce9
Successfully built Wikipedia-API
Installing collected packages: Wikipedia-API
Successfully installed Wikipedia-API-0.5.4

In [7]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [25]:
# download url data from internet
url = "https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=890001695"
source = requests.get(url).text
Canada_data = BeautifulSoup(source, 'lxml')

In [26]:
# creat a new Dataframe
column_names = ['Postalcode','Borough','Neighborhood']
toronto = pd.DataFrame(columns = column_names)

In [27]:
content = Canada_data.find('div', class_='mw-parser-output')
table = content.table.tbody
postcode = 0
borough = 0
neighborhood = 0

for tr in table.find_all('tr'):
    i = 0
    for td in tr.find_all('td'):
        if i == 0:
            postcode = td.text
            i = i + 1
        elif i == 1:
            borough = td.text
            i = i + 1
        elif i == 2: 
            neighborhood = td.text.strip('\n').replace(']','')
    toronto = toronto.append({'Postalcode': postcode,'Borough': borough,'Neighborhood': neighborhood},ignore_index=True)

# clean dataframe 
toronto = toronto[toronto.Borough!='Not assigned']
toronto = toronto[toronto.Borough!= 0]
toronto.reset_index(drop = True, inplace = True)
i = 0
for i in range(0,toronto.shape[0]):
    if toronto.iloc[i][2] == 'Not assigned':
        toronto.iloc[i][2] = toronto.iloc[i][1]
        i = i+1
                                 
df = toronto.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df.head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [29]:
df = df.dropna()
empty = 'Not assigned'
df = df[(df.Postalcode != empty ) & (df.Borough != empty) & (df.Neighborhood != empty)]

In [30]:
df.head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [32]:
def neighborhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighborhood'].tolist()))
                    
grp = df.groupby(['Postalcode', 'Borough'])
df2 = grp.apply(neighborhood_list).reset_index(name='Neighborhood')

In [33]:
print(df2.shape)
df2.head(10)

(103, 3)

  Postalcode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Rouge, Malvern
1        M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7        M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

In [34]:
print('The DataFrame shape is', df2.shape)

The DataFrame shape is (103, 3)